.fundoCadastro {
    background-image: url("../../assets/img/estradapaginafundo.jpg");
    background-repeat: no-repeat;
    width: 70%;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    border: 4px solid black;
}